{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Resume+ | Create your own Resume.</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'home/img/favicon.png' %}" rel="icon">
  <link href="{% static 'home/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
  <link href="{% static 'home/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'home/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/lib/owlcarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/lib/modal-video/css/modal-video.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'home/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: eStartup
    Theme URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto">Resume<span>+</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          {% if is_authenticated %}
          <li><a href="/dashboard">Welcome, {{ profile.first_name}}</a></li>
          {% endif %}
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about-us">About</a></li>
            <li><a href="#blog">Sample</a></li>
          <li><a href="#team">Team</a></li>
            {% if not is_authenticated %}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          {% else %}
          <li><a href="#" onclick="document.getElementById('id02').style.display='block'">Logout</a></li>
          {% endif %}
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->

<div id="id02" class="modal">

  <!-- Modal Content -->
  <div class="modal-content animate">

    <div class="container1">
      <h4>Do you want to Logout?</h4>
    </div>

    <div class="container1" style="background-color:#f1f1f1">
       <button class="button1 cancelbtn1" onclick="location.href = '/logout';">Yes</button>
      <button class="button1 cancelbtn" onclick="document.getElementById('id02').style.display='none'">Cancel</button>
      
    </div>
  </div>
</div>

<div id="id03" class="modal">

  <!-- Modal Content -->
  <div class="modal-content animate">

    <div class="container1">
      <h4>Error!</h4>
    </div>

    {% for message in messages %}

    <div class="container1" style="background-color:#f1f1f1">
      <h3> {{ message }}</h3>
      
    </div>

    {% endfor %}
  </div>
</div>

    <br><br><br><br><br><br>

  <section id="hero" class="wow fadeIn">

    <div class="hero-container">
      <h1>Welcome to Resume+</h1>
      <h2>Create your Resume in a click of a button...</h2>
      <img src="{% static 'home/img/hero-img.png' %}" alt="Hero Imgs">
      <a href="/register" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- #hero -->

  <script>
// Get the modal
var modal = document.getElementById('id01');
var modal1 = document.getElementById('id02');
var modal2 = document.getElementById('id03');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal ) {
        modal.style.display = "none";
    }
    if (event.target == modal1 ) {
        modal1.style.display = "none";
    }
    if (event.target == modal2 ) {
        modal2.style.display = "none";
    }
}
</script>

  <!--==========================
    Get Started Section
  ============================-->

  <!--==========================
    About Us Section
  ============================-->
  <section id="about-us" class="about-us padd-section wow fadeInUp">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-md-5 col-lg-3">
          <img src="{% static 'home/img/about.jpg' %}" alt="About">
        </div>

        <div class="col-md-7 col-lg-5">
          <div class="about-content">

            <h2><span>ABOUT</span>US </h2>
            <p>We take the insights of the recruiters and build them into our resume templates, offering jobseekers a fast and easy way to create a resume. So, when you use our resume builder, you know you are giving recruiters exactly what they want. Using our resume builder, you will have more time to focus on the essential part of the resume and create a professional resume within minutes.
            </p>

            <ul class="list-unstyled">
              <li><i class="fa fa-angle-right"></i>Creative Design.</li>
              <li><i class="fa fa-angle-right"></i>Easy to Use.</li>
              <li><i class="fa fa-angle-right"></i>No Design Skills Required.</li>
              <li><i class="fa fa-angle-right"></i>Completely Free.</li>
            </ul>

          </div>
        </div>

      </div>
    </div>
  </section>

   <section id="blog" class="padd-section wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>Sample Templates</h2>
        <p class="separator">Choose how your Resume will look like .</p>

      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-3">
          <div class="block-blog text-left">
            <a href="/temp1/sample"><img src="{% static 'home/img/sample/sample-1.jpg' %}" alt="img"></a>
            <div class="content-blog">
              <h4><a href="/temp1/sample">Template 1</a></h4>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="block-blog text-left">
            <a href="/temp2/sample"><img src="{% static 'home/img/sample/sample-2.jpg' %}" class="img-responsive" alt="img"></a>
            <div class="content-blog">
              <h4><a href="/temp2/sample">Template 2</a></h4>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="block-blog text-left">
            <a href="/temp3/sample"><img src="{% static 'home/img/sample/sample-3.jpg' %}" class="img-responsive" alt="img"></a>
            <div class="content-blog">
              <h4><a href="/temp3/sample">Template 3</a></h4>
            </div>
          </div>
        </div>

         <div class="col-md-6 col-lg-3">
          <div class="block-blog text-left">
            <a href="/temp4/sample"><img src="{% static 'home/img/sample/sample-4.jpg' %}" class="img-responsive" alt="img"></a>
            <div class="content-blog">
              <h4><a href="/temp4/sample">Template 4</a></h4>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section id="team" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>Team Members</h2>
        <p class="separator">This website was created as a project for the ITW-2 course by :</p>

      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-md-6 col-lg-6">
          <div class="team-block bottom">
            <img src="{% static 'home/img/team/1.jpg' %}" class="img-responsive" alt="img">
            <div class="team-content">
              <ul class="list-unstyled">
                <li><a href="https://www.facebook.com/raghav.blacklist1"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://github.com/raghav-blacklist1"><i class="fa fa-github"></i></a></li>
                <li><a href="https://in.linkedin.com/in/raghav-sangar-9a84b0167"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <span>Raghav Sangar</span>
              <h3>raghav.sangar.cse17@itbhu.ac.in</h3>
              <h3>+91-98152-56407</h3>
            </div>
          </div>
        </div>

       <div class="col-md-6 col-md-6 col-lg-6">
          <div class="team-block bottom">
            <img src="{% static 'home/img/team/2.jpg' %}" class="img-responsive" alt="img">
            <div class="team-content">
              <ul class="list-unstyled">
                <li><a href="https://www.facebook.com/parv.jain.39"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://github.com/parvjain1010"><i class="fa fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/parv-jain-124958167"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <span>Parv Jain</span>
              <h3>parvjain.cd.cse17@itbhu.ac.in</h3>
              <h3>+91-94179-31010</h3>
            </div>
          </div>
        </div>

       
  </section>
  <!--==========================
    Blog Section
  ============================-->
 
  <footer class="footer">
    <div class="copyrights">
      <div class="container">
        <p>&copy; Copyrights Resume+ . All rights reserved.</p>
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
          -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>

  </footer>

    {% if messages %}
    <script type="text/javascript">
      document.getElementById('id03').style.display='block';
    </script>
    {% endif %}

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static 'home/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'home/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'home/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'home/lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'home/lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'home/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'home/lib/modal-video/js/modal-video.js' %}"></script>
  <script src="{% static 'home/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'home/lib/wow/wow.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->

  <!-- Template Main Javascript File -->
  <script src="{% static 'home/js/main.js' %}"></script>

</body>
</html>
