{% extends "base.html" %}
{% load staticfiles %}

{% block title %}People | Resume+{% endblock title %}

{% block breadcrumb %}
<h4 class="page-title pull-left">People</h4>
<ul class="breadcrumbs pull-left">
    <li><a href="/">Home</a></li>
    <li><span>People</span></li>
</ul>
{% endblock %}


{% block content %}

<br><br>
<h2>Look who's Registered</h2>
<div class="row">
{% for obj in people %}
<div class="col-lg-12 mt-5">
    <div class="card">
        <div class="card-body">
            {% if obj.username == username %}
            <h4 class="header-title">[ ME ] {{ obj.fname }} {{ obj.lname }} <span style="text-transform: none; font-style: italic;">(@{{ obj.username }})</span></h4>
            {% else %}
            <h4 class="header-title">{{ obj.fname }} {{ obj.lname }} <span style="text-transform: none; font-style: italic;">(@{{ obj.username }})</span></h4>
            {% endif %}
             <a href="/dtemp1/{{ obj.username }}"><button type="button" class="btn btn-primary mb-3">Template 1</button></a>
             <a href="/dtemp2/{{ obj.username }}"><button type="button" class="btn btn-success mb-3">Template 2</button></a>
             <a href="/dtemp3/{{ obj.username }}"><button type="button" class="btn btn-danger mb-3">Template 3</button></a>
             <a href="/dtemp4/{{ obj.username }}"><button type="button" class="btn btn-warning mb-3">Template 4</button></a>
            
        </div>
    </div>
</div>

{% endfor %}
<!-- Falt button -->

</div>

{% endblock %}

{% load staticfiles %}